
<!-- Slider
================================================== -->
<div class="listing-slider mfp-gallery-container margin-bottom-0">
<% @photos.each_with_index do |photo, i| %>
	<a href="<%= photo.path %>" data-background-image="<%= photo.path %>" class="item mfp-gallery" title="Photo <%= i+1 %>"></a>
<% end %>
</div>

<!-- Content
================================================== -->
<div class="container">
	<div class="row sticky-wrapper">
		<div class="col-lg-8 col-md-8 padding-right-30">

			<!-- Titlebar -->
			<div id="titlebar" class="listing-titlebar">
				<div class="listing-titlebar-title">
					<h2><%= @truck.name %> <span class="listing-tag">Eat & Drink</span></h2>
					<span>
						<%= @truck.tagline %>
					</span>
          <!-- R: star reviews -->
					<div class="star-rating" data-rating="<%= @reviews_summary[:average_rating].round(1) %>">
						<div class="rating-counter"><a href="#listing-reviews">(<%= @reviews.count %>)</a></div>
					</div>

				</div>
			</div>

			<!-- Listing Nav -->
			<div id="listing-nav" class="listing-nav-container">
				<ul class="listing-nav">
					<li><a href="#listing-overview" class="active">Overview</a></li>
					<li><a href="#listing-menu">Menu</a></li>
					<li><a href="#listing-location">Location</a></li>

				</ul>
			</div>

			<!-- Overview -->
			<div id="listing-overview" class="listing-section">

				<!-- Description -->

				<%= simple_format(@truck.bio) %>

				<!-- Listing Contacts -->
				<div class="listing-links-container">

					<ul class="listing-links contact-links">
						<li><a href="tel:<%= @truck.phone %>" class="listing-links"><i class="fa fa-phone"></i> <%= @truck.phone %></a></li>
						<li><a href="mailto:<%= @truck.email %>" class="listing-links"><i class="fa fa-envelope-o"></i> <%= @truck.email %></a>
						</li>
						<li><a href="<%= @truck.website %>" target="_blank"  class="listing-links"><i class="fa fa-link"></i> <%= @truck.website %></a></li>
					</ul>
					<div class="clearfix"></div>

					<ul class="listing-links">
						<li><a href="https://facebook.com/<%= @truck.facebook %>" target="_blank" class="listing-links-fb"><i class="fa fa-facebook-square"></i> Facebook</a></li>
						<li><a href="https://instagram.com/<%= @truck.instagram %>" target="_blank" class="listing-links-ig"><i class="fa fa-instagram"></i> Instagram</a></li>
						<li><a href="https://twitter.com/<%= @truck.twitter %>" target="_blank" class="listing-links-tt"><i class="fa fa-twitter"></i> Twitter</a></li>
					</ul>
					<div class="clearfix"></div>

				</div>
				<div class="clearfix"></div>


				<!-- R: Amenities -->

			</div>


			<!-- Food Menu -->
			<div id="listing-menu" class="listing-section">
				<h3 class="listing-desc-headline margin-top-70 margin-bottom-30">Menu</h3>

				<div class="show-more">
					<div class="pricing-list-container">

						<!-- Food List -->
						<h4>Burgers</h4>
						<ul>
							<li>
								<h5>Classic Burger</h5>
								<p>Beef, salad, mayonnaise, spicey relish, cheese</p>
								<span>$6</span>
							</li>
							<li>
								<h5>Cheddar Burger</h5>
								<p>Cheddar cheese, lettuce, tomato, onion, dill pickles</p>
								<span>$6</span>
							</li>
							<li>
								<h5>Veggie Burger</h5>
								<p>Panko crumbed and fried, grilled peppers and mushroom</p>
								<span>$6</span>
							</li>
							<li>
								<h5>Chicken Burger</h5>
								<p>Cheese, chicken fillet, avocado, bacon, tomatoes, basil</p>
								<span>$6</span>
							</li>
						</ul>

						<!-- Food List -->
						<h4>Drinks</h4>
						<ul>
							<li>
								<h5>Frozen Shake</h5>
								<span>$4</span>
							</li>
							<li>
								<h5>Orange Juice</h5>
								<span>$4</span>
							</li>
							<li>
								<h5>Beer</h5>
								<span>$4</span>
							</li>
							<li>
								<h5>Water</h5>
								<span>Free</span>
							</li>
						</ul>

					</div>
				</div>
				<a href="#" class="show-more-button" data-more-title="Show More" data-less-title="Show Less"><i class="fa fa-angle-down"></i></a>
			</div>
			<!-- Food Menu / End -->


			<!-- Location -->
			<div id="listing-location" class="listing-section">
				<h3 class="listing-desc-headline margin-top-60 margin-bottom-30">Location</h3>

				<div id="singleListingMap-container">
					<div id="singleListingMap" data-latitude="<%= @truck.latitude %>" data-longitude="<%= @truck.longitude %>" data-map-icon="im im-icon-Hamburger"></div>
					<a href="#" id="streetView">Street View</a>
				</div>
			</div>

			<!-- Reviews -->
			<div id="listing-reviews" class="listing-section">
				<h3 class="listing-desc-headline margin-top-75 margin-bottom-20">Reviews <span>(<%= @reviews.count %>)</span></h3>

				<!-- Rating Overview -->
				<div class="rating-overview">
					<div class="rating-overview-box">
						<span class="rating-overview-box-total"><%= @reviews_summary[:average_rating].round(1) %></span>
						<span class="rating-overview-box-percent">out of 5.0</span>
						<div class="star-rating" data-rating="<%= @reviews_summary[:average_rating].round(1) %>"></div>
					</div>

					<div class="rating-bars">
							<div class="rating-bars-item">
								<span class="rating-bars-name">Service <i class="tip" data-tip-content="Quality of customer service and attitude to work with you"></i></span>
								<span class="rating-bars-inner">
									<span class="rating-bars-rating" data-rating="<%= @reviews_summary[:service_rating].round(1) %>">
										<span class="rating-bars-rating-inner"></span>
									</span>
									<strong><%= @reviews_summary[:service_rating].round(1) %></strong>
								</span>
							</div>
							<div class="rating-bars-item">
								<span class="rating-bars-name">Value for Money <i class="tip" data-tip-content="Overall experience received for the amount spent"></i></span>
								<span class="rating-bars-inner">
									<span class="rating-bars-rating" data-rating="<%= @reviews_summary[:value_rating].round(1) %>">
										<span class="rating-bars-rating-inner"></span>
									</span>
									<strong><%= @reviews_summary[:value_rating].round(1) %></strong>
								</span>
							</div>
							<div class="rating-bars-item">
								<span class="rating-bars-name">Food <i class="tip" data-tip-content="Overall taste and presentation of the food"></i></span>
								<span class="rating-bars-inner">
									<span class="rating-bars-rating" data-rating="<%= @reviews_summary[:food_rating].round(1) %>">
										<span class="rating-bars-rating-inner"></span>
									</span>
									<strong><%= @reviews_summary[:food_rating].round(1) %></strong>
								</span>
							</div>
							<div class="rating-bars-item">
								<span class="rating-bars-name">Cleanliness <i class="tip" data-tip-content="The physical condition of the business"></i></span>
								<span class="rating-bars-inner">
									<span class="rating-bars-rating" data-rating="<%= @reviews_summary[:cleanliness_rating].round(1) %>">
										<span class="rating-bars-rating-inner"></span>
									</span>
									<strong><%= @reviews_summary[:cleanliness_rating].round(1) %></strong>
								</span>
							</div>
					</div>
				</div>
				<!-- Rating Overview / End -->

				<div class="clearfix"></div>

				<!-- Reviews -->
				<section class="comments listing-reviews">
					<ul id="reviews-list">
						<% @reviews.each do |review|%>
						<li>
							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
							<div class="comment-content"><div class="arrow-comment"></div>
								<div class="comment-by"><%= review.user.name %> <i class="tip" data-tip-content="Person who left this review actually was a customer"></i> <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
									<div class="star-rating" data-rating="<%= review.average_rating %>"></div>
								</div>
								<p><%= review.body %></p>
							</div>
						</li>
						<% end %>
					</ul>
				</section>

				<!--R: Pagination -->

			</div>


			<!-- Add Review Box -->

			<div id="add-review" class="add-review-box">

				<!-- Add Review -->
				<h3 class="listing-desc-headline margin-bottom-10">Add Review</h3>
				<p class="comment-notes">Your email address will not be published.</p>

				<%= form_with model: @review, url: api_reviews_path, data: {'js-review-form' => true}, html: {class: "add-comment", id: "add-comment"} do |f| %>
					<%= f.hidden_field :truck_id, value: @truck[:id] %>

					<div class="sub-ratings-container">
						<!-- Subrating #1 -->
						<div class="add-sub-rating">
							<div class="sub-rating-title">Service <i class="tip" data-tip-content="Quality of customer service and attitude to work with you"></i></div>
							<div class="sub-rating-stars">
								<!-- Leave Rating -->
								<div class="clearfix"></div>
								<div class="leave-rating">
									<%  (1..5).reverse_each do |i| %>
										<%= f.radio_button :service_rating, i %>
										<%= label_tag "review_service_rating_#{i}".to_sym, '', class: "fa fa-star" %>
									<% end %>
								</div>
							</div>
						</div>

						<!-- Subrating #2 -->
						<div class="add-sub-rating">
							<div class="sub-rating-title">Value for Money <i class="tip" data-tip-content="Overall experience for the amount you paid"></i></div>
							<div class="sub-rating-stars">
								<!-- Leave Rating -->
								<div class="clearfix"></div>
								<div class="leave-rating">
									<%  (1..5).reverse_each do |i| %>
										<%= f.radio_button :value_rating, i %>
										<%= label_tag "review_value_rating_#{i}".to_sym, '', class: "fa fa-star" %>
									<% end %>
								</div>
							</div>
						</div>

						<!-- Subrating #3 -->
						<div class="add-sub-rating">
							<div class="sub-rating-title">Food <i class="tip" data-tip-content="Overall taste and presentation of food"></i></div>
							<div class="sub-rating-stars">
								<!-- Leave Rating -->
								<div class="clearfix"></div>
								<div class="leave-rating">
									<%  (1..5).reverse_each do |i| %>
										<%= f.radio_button :food_rating, i %>
										<%= label_tag "review_food_rating_#{i}".to_sym, '', class: "fa fa-star" %>
									<% end %>
								</div>
							</div>
						</div>
						<!-- Subrating #4 -->
						<div class="add-sub-rating">
							<div class="sub-rating-title">Cleanliness <i class="tip" data-tip-content="Physical condition of the business"></i></div>
							<div class="sub-rating-stars">
								<!-- Leave Rating -->
								<div class="clearfix"></div>
								<div class="leave-rating">
									<%  (1..5).reverse_each do |i| %>
										<%= f.radio_button :cleanliness_rating, i %>
										<%= label_tag "review_cleanliness_rating_#{i}".to_sym, '', class: "fa fa-star" %>
									<% end %>
								</div>
							</div>
					<!-- sub-ratings-container -->
					</div>

					<%= f.label :body, "Review" %>
					<%= f.text_area :body, size: '40x3' %>
					<%= f.submit "Submit Review" %>
				<% end %>
			</div>
			<!-- Add Review Box / End -->
		</div>
	</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-4 col-md-4 margin-top-75 sticky">


			<!-- Verified Badge -->
			<div class="verified-badge with-tip" data-tip-content="Listing has been verified and belongs the business owner or manager.">
				<i class="sl sl-icon-check"></i> Verified Listing
			</div>

			<!-- Coupon Widget -->
			<div class="coupon-widget" style="background-image: url(http://localhost/listeo_html/images/single-listing-01.jpg);">
				<a href="#" class="coupon-top">
					<span class="coupon-link-icon"></span>
					<h3>Order 1 burger and get 50% off on second!</h3>
					<div class="coupon-valid-untill">Expires 25/10/2019</div>
					<div class="coupon-how-to-use"><strong>How to use?</strong> Just show us this coupon on a screen of your smartphone!</div>
				</a>
				<div class="coupon-bottom">
					<div class="coupon-scissors-icon"></div>
					<div class="coupon-code">L1ST30</div>
				</div>
			</div>


			<!-- Opening Hours -->
			<div class="boxed-widget opening-hours margin-top-35">
				<div class="listing-badge now-open">Now Open</div>
				<h3><i class="sl sl-icon-clock"></i> Opening Hours</h3>
				<ul>
					<li>Monday <span>9 AM - 5 PM</span></li>
					<li>Tuesday <span>9 AM - 5 PM</span></li>
					<li>Wednesday <span>9 AM - 5 PM</span></li>
					<li>Thursday <span>9 AM - 5 PM</span></li>
					<li>Friday <span>9 AM - 5 PM</span></li>
					<li>Saturday <span>9 AM - 3 PM</span></li>
					<li>Sunday <span>Closed</span></li>
				</ul>
			</div>
			<!-- Opening Hours / End -->


			<!-- Contact -->
			<div class="boxed-widget margin-top-35">
        <!-- R: Hosted by and avatar -->
				<ul class="listing-details-sidebar">
					<li><i class="sl sl-icon-phone"></i> <%= @truck.phone %></li>
					<!-- <li><i class="sl sl-icon-globe"></i> <a href="#">http://example.com</a></li> -->
					<li><i class="fa fa-envelope-o"></i> <a href="#"><%= @truck.email %></a></li>
				</ul>

				<ul class="listing-details-sidebar social-profiles">
					<li><a href="#" class="facebook-profile"><i class="fa fa-facebook-square"></i> <%= @truck.facebook %></a></li>
					<li><a href="#" class="twitter-profile"><i class="fa fa-twitter"></i> <%= @truck.twitter %></a></li>
					<!-- <li><a href="#" class="gplus-profile"><i class="fa fa-google-plus"></i> Google Plus</a></li> -->
				</ul>

				<!-- R: Reply to review popup -->


			</div>
			<!-- Contact / End-->


			<!-- R: Share / Like -->

		</div>
		<!-- Sidebar / End -->
	</div>
</div>
