<% content_for :head do %>
  <link rel="canonical" href="https://www.truckstalkers.com<%= truck_path %>"/>
<% end %>
<!-- Slider
================================================== -->
<div class="listing-slider mfp-gallery-container margin-bottom-0">
<% @photos.each_with_index do |photo, i| %>
	<a href="<%= photo.path %>" data-background-image="<%= photo.path %>" class="item mfp-gallery" title="Photo <%= i+1 %>"></a>
<% end %>
</div>

<!-- Content
================================================== -->
<div class="container">
	<div class="row sticky-wrapper">
		<div class="col-lg-8 col-md-8 padding-right-30">

			<!-- Titlebar -->
			<div id="titlebar" class="listing-titlebar">
				<div class="listing-titlebar-title">
					<h2><%= @truck.name %> </h2>
					<span>
						<%= @truck.tagline %>
					</span>
          <!-- R: star reviews -->
					<div class="star-rating" data-rating="<%= @reviews_summary[:average_rating].round(1) %>">
						<div class="rating-counter"><a href="#listing-reviews">(<%= @reviews.count %>)</a></div>
					</div>

				</div>
			</div>

			<!-- Listing Nav -->
			<div id="listing-nav" class="listing-nav-container">
				<ul class="listing-nav">
					<li><a href="#listing-overview" class="active">Overview</a></li>
					<% if @truck.menu_items.present? %>
						<li><a href="#listing-menu">Menu</a></li>
					<% end %>
					<li><a href="#listing-location">Location</a></li>

				</ul>
			</div>

			<!-- Overview -->
			<div id="listing-overview" class="listing-section">

				<!-- Description -->

				<%= simple_format(@truck.bio) %>

				<!-- Listing Contacts -->
				<div class="listing-links-container">

					<ul class="listing-links contact-links">
						<% if @truck.phone.present? %>
						<li><a href="tel:<%= @truck.phone %>" class="listing-links"><i class="fa fa-phone"></i> <%= @truck.phone %></a></li>
						<% end %>
						<% if @truck.email.present? %>
						<li><a href="mailto:<%= @truck.email %>" class="listing-links"><i class="fa fa-envelope-o"></i> <%= @truck.email %></a>
						</li>
						<% end %>
						<% if @truck.website.present? %>
						<li><a href="<%= @truck.website %>" target="_blank"  class="listing-links"><i class="fa fa-link"></i> <%= @truck.clean_website %></a></li>
						<% end %>
					</ul>
					<div class="clearfix"></div>

					<ul class="listing-links">
						<% if @truck.facebook.present? %>
						<li><a href="https://facebook.com/<%= @truck.facebook %>" target="_blank" class="listing-links-fb"><i class="fa fa-facebook-square"></i> Facebook</a></li>
						<% end %>
						<% if @truck.instagram.present? %>
						<li><a href="https://instagram.com/<%= @truck.instagram %>" target="_blank" class="listing-links-ig"><i class="fa fa-instagram"></i> Instagram</a></li>
						<% end %>
						<% if @truck.twitter.present? %>
						<li><a href="https://twitter.com/<%= @truck.twitter %>" target="_blank" class="listing-links-tt"><i class="fa fa-twitter"></i> Twitter</a></li>
						<% end %>
					</ul>
					<div class="clearfix"></div>

				</div>
				<div class="clearfix"></div>


				<!-- R: Amenities -->

			</div>


			<!-- R: Food Menu -->
			<div id="listing-pricing-list" class="listing-section">
				<h3 class="listing-desc-headline margin-top-70 margin-bottom-30">Menu</h3>

					<div class="pricing-list-container">

						<!-- Food List -->
						<% @menu.each_with_index do |item, i| %>
							<% if item.is_heading == true %>
								<h4><%= item.title %></h4>
								<ul>
							<% else %>
									<li>
										<h5><%= item.title %></h5>
										<p><%= item.description %></p>
										<span><%= number_to_currency(item.price) if item.price > 0 %></span>
									</li>
							<% end %>
							<% if (@menu.count == i || @menu[i+1].present? && @menu[i+1].is_heading == true) %>
								</ul>
							<% end %>
						<% end %>
					</div>
			</div>
			<!-- Food Menu / End -->


			<!-- Location -->
			<div id="listing-location" class="listing-section">
				<h3 class="listing-desc-headline margin-top-60 margin-bottom-30">Location</h3>

				<div id="singleListingMap-container">
					<iframe
						width="100%"
						height="450"
						frameborder="0" style="border:0"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBKj5K-zsxRaOHJdjtqvD7KgPBETQGGwxg&q=<%= @address %>&zoom=14" allowfullscreen>
					</iframe>
				</div>
			</div>

			<!-- Reviews -->
			<div id="listing-reviews" class="listing-section">
				<h3 class="listing-desc-headline margin-top-75 margin-bottom-20">Reviews <span>(<%= @reviews.count %>)</span></h3>

				<!-- Rating Overview -->
				<div class="rating-overview">
					<div class="rating-overview-box">
						<span class="rating-overview-box-total"><%= @reviews_summary[:average_rating].round(1) %></span>
						<span class="rating-overview-box-percent">out of 5.0</span>
						<div class="star-rating" data-rating="<%= @reviews_summary[:average_rating].round(1) %>"></div>
					</div>

					<div class="rating-bars">
							<div class="rating-bars-item">
								<span class="rating-bars-name">Service <i class="tip" data-tip-content="Quality of customer service and attitude to work with you"></i></span>
								<span class="rating-bars-inner">
									<span class="rating-bars-rating" data-rating="<%= @reviews_summary[:service_rating].round(1) %>">
										<span class="rating-bars-rating-inner"></span>
									</span>
									<strong><%= @reviews_summary[:service_rating].round(1) %></strong>
								</span>
							</div>
							<div class="rating-bars-item">
								<span class="rating-bars-name">Value for Money <i class="tip" data-tip-content="Overall experience received for the amount spent"></i></span>
								<span class="rating-bars-inner">
									<span class="rating-bars-rating" data-rating="<%= @reviews_summary[:value_rating].round(1) %>">
										<span class="rating-bars-rating-inner"></span>
									</span>
									<strong><%= @reviews_summary[:value_rating].round(1) %></strong>
								</span>
							</div>
							<div class="rating-bars-item">
								<span class="rating-bars-name">Food <i class="tip" data-tip-content="Overall taste and presentation of the food"></i></span>
								<span class="rating-bars-inner">
									<span class="rating-bars-rating" data-rating="<%= @reviews_summary[:food_rating].round(1) %>">
										<span class="rating-bars-rating-inner"></span>
									</span>
									<strong><%= @reviews_summary[:food_rating].round(1) %></strong>
								</span>
							</div>
							<div class="rating-bars-item">
								<span class="rating-bars-name">Cleanliness <i class="tip" data-tip-content="The physical condition of the business"></i></span>
								<span class="rating-bars-inner">
									<span class="rating-bars-rating" data-rating="<%= @reviews_summary[:cleanliness_rating].round(1) %>">
										<span class="rating-bars-rating-inner"></span>
									</span>
									<strong><%= @reviews_summary[:cleanliness_rating].round(1) %></strong>
								</span>
							</div>
					</div>
				</div>
				<!-- Rating Overview / End -->
				<div class="clearfix"></div>

			<!-- Add Review Box -->
				<% if user_signed_in? %>
					<div id="add-review" class="add-review-box">

						<!-- Add Review -->
						<h3 class="listing-desc-headline margin-bottom-10">Add Review</h3>
						<p class="comment-notes">Your email address will not be published.</p>

						<%= form_with model: @review, url: api_reviews_path, data: {'js-review-form' => true}, html: {class: "add-comment", id: "add-comment"} do |f| %>
							<%= f.hidden_field :truck_id, value: @truck[:id] %>

							<div class="sub-ratings-container">
								<!-- Subrating #1 -->
								<div class="add-sub-rating">
									<div class="sub-rating-title">Service <i class="tip" data-tip-content="Quality of customer service and attitude to work with you"></i></div>
									<div class="sub-rating-stars">
										<!-- Leave Rating -->
										<div class="clearfix"></div>
										<div class="leave-rating">
											<%  (1..5).reverse_each do |i| %>
												<%= f.radio_button :service_rating, i %>
												<%= label_tag "review_service_rating_#{i}".to_sym, '', class: "fa fa-star" %>
											<% end %>
										</div>
									</div>
								</div>

								<!-- Subrating #2 -->
								<div class="add-sub-rating">
									<div class="sub-rating-title">Value for Money <i class="tip" data-tip-content="Overall experience for the amount you paid"></i></div>
									<div class="sub-rating-stars">
										<!-- Leave Rating -->
										<div class="clearfix"></div>
										<div class="leave-rating">
											<%  (1..5).reverse_each do |i| %>
												<%= f.radio_button :value_rating, i %>
												<%= label_tag "review_value_rating_#{i}".to_sym, '', class: "fa fa-star" %>
											<% end %>
										</div>
									</div>
								</div>

								<!-- Subrating #3 -->
								<div class="add-sub-rating">
									<div class="sub-rating-title">Food <i class="tip" data-tip-content="Overall taste and presentation of food"></i></div>
									<div class="sub-rating-stars">
										<!-- Leave Rating -->
										<div class="clearfix"></div>
										<div class="leave-rating">
											<%  (1..5).reverse_each do |i| %>
												<%= f.radio_button :food_rating, i %>
												<%= label_tag "review_food_rating_#{i}".to_sym, '', class: "fa fa-star" %>
											<% end %>
										</div>
									</div>
								</div>
								<!-- Subrating #4 -->
								<div class="add-sub-rating">
									<div class="sub-rating-title">Cleanliness <i class="tip" data-tip-content="Physical condition of the business"></i></div>
									<div class="sub-rating-stars">
										<!-- Leave Rating -->
										<div class="clearfix"></div>
										<div class="leave-rating">
											<%  (1..5).reverse_each do |i| %>
												<%= f.radio_button :cleanliness_rating, i %>
												<%= label_tag "review_cleanliness_rating_#{i}".to_sym, '', class: "fa fa-star" %>
											<% end %>
										</div>
									</div>
							<!-- sub-ratings-container -->
							</div>
							<%= f.label :body, "Review" %>
							<%= f.text_area :body, size: '40x3' %>
							<%= f.submit "Submit Review" %>
						<% end %>
					</div>
				<% else %>
					<div class="notification error closeable">
						<p class="comment-notes"><a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim">Sign In</a> or <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim">Register</a> to leave a review</p>
					</div>
				<% end %>
				<!-- Add Review Box / End -->
			</div>
			<!-- Reviews -->
			<section class="comments listing-reviews">
				<ul id="reviews-list">
					<% @reviews.each do |review|%>
					<li>
						<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
						<div class="comment-content"><div class="arrow-comment"></div>
							<div class="comment-by"><%= review.name %> <i class="tip" data-tip-content="Person who left this review actually was a customer"></i> <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
								<div class="star-rating" data-rating="<%= review.average_rating %>"></div>
							</div>
							<p><%= review.body %></p>
						</div>
					</li>
					<% end %>
				</ul>
			</section>
		</div>
	</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-4 col-md-4 margin-top-75 sticky">
			<!-- Contact -->
			<div class="boxed-widget margin-top-35">
        <!-- R: Hosted by and avatar -->
				<h4>Contact us</h4>
				<ul class="listing-details-sidebar">
					<% if @truck.phone.present? %>
					<li><i class="sl sl-icon-phone"><a href="tel:<%= @truck.phone %>"></i> <%= @truck.phone %></li>
					<% end %>
					<% if @truck.website.present? %>
					<li><i class="sl sl-icon-globe"></i> <a href="<%= @truck.website %>"><%= @truck.clean_website %></a></li>
					<% end %>
					<% if @truck.email.present? %>
					<li><i class="fa fa-envelope-o"></i> <a href="mailto:<%= @truck.email %>"><%= @truck.email %></a></li>
					<% end %>
				</ul>
				<h4 class="margin-top-35">Follow us</h4>
				<ul class="listing-details-sidebar social-profiles">
				<% if @truck.facebook.present? %>
						<li>
							<%= link_to "https://www.facebook.com/#{@truck.facebook}", class:"facebook-profile"  do %>
								<%= @truck.facebook %><i class="fa fa-facebook-square"></i>
							<% end %>
						</li>
					<% end %>
					<% if @truck.instagram.present? %>
						<li>
							<%= link_to "https://www.instagram.com/#{@truck.instagram}", class:"twitter-profile"  do %>
								<%= @truck.instagram %><i class="fa fa-instagram"></i>
							<% end %>
						</li>
					<% end %>
					<% if @truck.twitter.present? %>
						<li>
							<%= link_to "https://www.twitter.com/#{@truck.twitter}", class:"twitter-profile"  do %>
								<%= @truck.twitter %><i class="fa fa-twitter"></i>
							<% end %>
						</li>
					<% end %>
					<!-- <li><a href="#" class="gplus-profile"><i class="fa fa-google-plus"></i> Google Plus</a></li> -->
				</ul>


			</div>
			<!-- Contact / End-->

		</div>
		<!-- Sidebar / End -->
	</div>
</div>
