
<!-- Map
================================================== -->
<%# <div id="map-container" class="fullwidth-home-map">

    <div id="map" data-map-zoom="9">
        <!-- map goes here -->
    </div>

	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="main-search-input">

						<div class="main-search-input-item">
							<input type="text" placeholder="What are you looking for?" value=""/>
						</div>

						<div class="main-search-input-item location">
							<div id="autocomplete-container">
								<input id="autocomplete-input" type="text" placeholder="Location">
							</div>
							<a href="#"><i class="fa fa-map-marker"></i></a>
						</div>

						<div class="main-search-input-item">
							<select data-placeholder="All Categories" class="chosen-select" >
								<option>All Categories</option>
								<option>Shops</option>
								<option>Hotels</option>
								<option>Restaurants</option>
								<option>Fitness</option>
								<option>Events</option>
							</select>
						</div>

						<button class="button">Search</button>

					</div>
				</div>
			</div>
		</div>

	</div>

    <!-- Scroll Enabling Button -->
	<a href="#" id="scrollEnabling" title="Enable or disable scrolling on map">Enable Scrolling</a>
</div> %>


<!-- Content
================================================== -->

<%# <div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				Browse Categories
			</h3>
		</div>

	</div>
</div> %>


<!-- Category Boxes -->
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="centered margin-top-25 margin-bottom-10">

				<% @categories.each do |category| %>
					<%= link_to category, category_path(:id => category.name), class: 'button border' %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<!-- Category Boxes / End -->



<!-- Listings -->
<div class="container margin-top-70">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-45">
				Popular Foodtrucks
				<span>Discover top-rated local foodtrucks</span>
			</h3>
		</div>

		<div class="col-md-12">
			<div class="simple-slick-carousel dots-nav">
        <!-- Listing Item -->
      <% @popular_trucks.each do |truck| %>
        <div class="carousel-item">
          <%= link_to(truck, class: 'listing-item-container') do  %>
            <div class="listing-item">
            <%= image_tag("#{truck.images.first.path}") if truck.images.first %>

              <div class="listing-item-content">
                <h3><%= truck.name %></h3>
                <span><%= truck.tagline %></span>
              </div>
              <!-- R:like-icon heart -->

            </div>
            <!--  Ratings -->
						<div class="star-rating" data-rating="<%= truck.reviews_summary[:average_rating].round(1) %>">
							<div class="rating-counter">(<%= truck.reviews.count %> reviews)</div>
						</div>
            <!--  Ratings end -->
					<% end %>
        </div>
      <% end %>
        <!-- Listing Item / End -->
			</div>
		</div>

	</div>

<!-- Grid layout listings -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          All Foodtrucks
          <span>Choose from many local Foodtrucks</span>
        </h3>
      </div>
      <!-- Listing Item -->
      <% @trucks.each do |truck| %>
        <div class="col-lg-4 col-md-6">
          <%= link_to(truck, class: 'listing-item-container') do  %>
            <div class="listing-item">
            <%= image_tag("#{truck.images.first.path}") if truck.images.first %>
              <%# <div class="listing-badge now-open">Now Open</div> %>
              <div class="listing-item-content">

                <h3><%= truck.name %></h3>
                <span><%= truck.tagline %></span>
              </div>
              <!-- R:like-icon heart -->
            </div>
            <div class="star-rating" data-rating="<%= truck.reviews_summary[:average_rating].round(1) %>">
							<div class="rating-counter">(<%= truck.reviews.count %> reviews)</div>
						</div>
          <% end %>
        </div>
      <% end %>
      <!-- Listing Item / End -->
    </div>
	<div class="pagination"><%= link_to "Next >", '/trucks/page/2', class: 'rate-review'%></div>
</div>
<!-- Listings / End -->


