<div class="container margin-top-70">


<!-- Grid layout listings -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          All <%= @category %> Foodtrucks
          <span>Choose from many local Foodtrucks</span>
        </h3>
      </div>
      <!-- Listing Item -->
      <% @trucks.each do |truck| %>
        <div class="col-lg-4 col-md-6">
          <a href="/trucks/<%= truck.id %>" class="listing-item-container">
            <div class="listing-item">
            <%= image_tag("#{truck.images.first.path}") if truck.images.first %>
              <div class="listing-item-content">

                <h3><%= truck.name %></h3>
                <span><%= truck.tagline %></span>
              </div>
              <span class="like-icon"></span>
            </div>
            <div class="star-rating" data-rating="<%= truck.reviews_summary[:average_rating].round(1) %>">
							<div class="rating-counter">(<%= truck.reviews.count %> reviews)</div>
						</div>
          </a>
        </div>
      <% end %>
      <!-- Listing Item / End -->
    </div>
		<nav><%= paginate @trucks, params: {id: @category} %></nav>

</div>
<!-- Listings / End -->


